.tabs {
    display: flex;
    gap: 15px;
}

.tabs button {
    font-size: 14px;
    border-radius: 100px;
    background-color: #e4e5e7;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #081E34;
    border: none;
    padding: 10px 24px;
}

.tabs button:hover {
    background-color: #9198a3;
    color: white;
}

.tabs button.active {
    background-color: #9198a3;
    color: white;
}